.dictionary {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0;
    p {
        font-size: 38px;
    }
    span {
        font-size:30px;
        font-family: 'Rajdhani', sans-serif;
    }
    &__link {
        text-decoration: none;
    }
    &__error {
        margin-top: 80px;
    }
}