 .footer {
   position:fixed;
   text-align: center;
   left:0px;
   bottom:36px;
   width:100%;
        h2 {
            padding-bottom: 14px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            padding-left: 20px;
            color: #121212;
            font-family: 'Hubballi', cursive;
            &:hover {
                color: blue;
         
            }
        }
        img {
            padding-right: 6px;
            width: 30px;
            height: 30px;
        }
       }